<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <div th:replace="fragments/header :: header-css"/>
    <div th:replace="fragments/header :: header-js"/>
</head>
<body>
    <div class="container-fluid">
        <form method="POST" th:action="@{/reports}">
            <h1>Spring Boot Form Link</h1>
            <div class="form-group">
                <input type="hidden" name="reportname" value="rpt_emp_attach" />
                <input type="hidden" name="format" value="pdf" />
                <label for="typeId">Type ID</label>
                <select class="form-control" id="typeId" name="typeId">
                    
                </select>
                <!--<input type="text" class="form-control" id="typeId" name="typeId"/>-->
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script>
        $(document).ready(function () {
            $.getJSON("/ajax/mstype", function (data) {
                $("#typeId").html('');
                $.each(data, function () {
                    $("#typeId").append('<option value="' + this.typeId + '">' + this.typeName + '</option>');
                });
            });
        });
    </script>
</body>
</html>